<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
        <img src="assets/images/logo.png" alt="luv2shop" class="img-responsive">
      </a>
    </div>
    <app-product-category-menu></app-product-category-menu>
  </aside>
  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">

            <app-search></app-search>

            <app-cart-status></app-cart-status>

          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <!-- router-outlet acts as placeholder it render the desired component based on route -->
    <router-outlet></router-outlet>

    <!-- END PAGE CONTAINER-->
  </div>
</div>

<footer>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <ul class="socialIcons">
          <li class="linkedin">
            <a href="https://www.linkedin.com/in/ibrahim-mohsen-56429a114/">
              <i class="fa fa-fw fa-linkedin" aria-hidden="true"></i> Linkedin
            </a>
          </li>
          <li class="github">
            <a href="https://github.com/izaki93">
              <i class="fa fa-fw fa-github" aria-hidden="true"></i> Github
            </a>
          </li>
          <li class="email">
            <a class="social-icon" data-tooltip="ibrahim.mohsen.zaki@gmail.com" href="mailto:ibrahim.mohsen.zaki@gmail.com">
              <i class="fa fa-fw fa-envelope" aria-hidden="true"></i> Email
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="footer-copyright text-center py-3">© Developed By:
          <a href="https://www.linkedin.com/in/ibrahim-mohsen-56429a114/"> Ibrahim Mohsen
          </a>
        </div>
      </div>
    </div>
  </div>

</footer>

